USE [tolgaboroglu]
GO
/****** Object:  Table [dbo].[customer_]    Script Date: 13.06.2021 11:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_] [varchar](50) NULL,
	[SURNAME] [varchar](50) NULL,
	[ADDRESS__] [varchar](100) NULL,
 CONSTRAINT [PK_customer_] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_]    Script Date: 13.06.2021 11:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_](
	[PRODUCT_ID] [varchar](50) NOT NULL,
	[BRAND_NAME] [varchar](50) NULL,
	[PRICE] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_]    Script Date: 13.06.2021 11:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_](
	[PURCH_NO] [varchar](50) NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](50) NOT NULL,
	[PURCH_DATE] [date] NULL,
	[PURCH_PRICE] [float] NULL,
 CONSTRAINT [PK_PURCHASE_] PRIMARY KEY CLUSTERED 
(
	[PURCH_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALE_]    Script Date: 13.06.2021 11:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE_](
	[SALE_NO] [int] NOT NULL,
	[CUSTOMER_ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](50) NOT NULL,
	[SALE_DATE] [date] NULL,
	[SALE_PRICE] [float] NULL,
 CONSTRAINT [PK_SALE_] PRIMARY KEY CLUSTERED 
(
	[SALE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
